/** css styles for directory view. */

.gridParent
{
	display : flex;
	flex-flow : column wrap;
	justify-content: space-around;
	height : 80%;
}

.gridChild
{
	width : 20em;
	margin : auto;
}

.gridChild  > span
{
	height : 1em;
}

#rightSideFill
{
	position: absolute;
	background-color: rgb(10,10,150);
	height: 100%;
	width: 65px;
	right: 0px;
}

#readerDirLink
{
	position: absolute;
	top: 0.5em;
	left: 1em;
	font-size: 2em;
}

#readerTagLink
{
	position: absolute;
	top: 0.5em;
	left: 7em;
	font-size: 2em;
}

#readerSearchLink
{
	position: absolute;
	top: 2.5em;
	left: 1em;
	font-size: 2em;
}
