/** generic css file shared by all views. */

* { margin : 0px; padding : 0px; }
* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
}

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}

.topBar {
	position: relative;
	height: 60px;
	color: white;
	width: 100%;
	border: solid #000;
	border-width: 0px 0px 2px;
}

.topBar #chapterSelectLabel {
	position: absolute;
	top: 2.5em;
	left: 10px;
	height: 1em;
	line-height: 1em;
}

.topBar #dropMenu {
	position: absolute;
	right: 1em;
	top: 4em;
	width: 20em;
	height: 1.5em;
	font-size: 0.8em;
}

.topBar #backIcon {
	width: 65px;
	height: 50px;
	position: absolute;
	top: 0.5em;
	left: 1.5em;
}

.topBar .fsButton {
	position: absolute;
	right : 7px;
	bottom : 5px;
	z-index : 2;
}

.topBar .fsButton img {
	width : 50px;
	height : 50px;
}


.topBar span {
	font-size : 1.25em;
	line-height : 60px;
	margin-right : 10px;
}

.topBar a {
	text-decoration: none;
	position : relative;
}

.topBar a:link {
    color: #FFF;
}

.topBar a:visited {
    color: #FFF;
}

.topBar a:hover {
    color: #FFF;
}

.topBar a:active {
    color: #FFF;
}

.topBar #menuBtn {
	width: 60px;
	height: 60px;
	background-color: rgb(10,10,150);
	position : absolute;
	z-index : 2;
}

.topBar #menuImg {
	position : absolute;
	width: 60px;
	height: 60px;
}

.topBar #menuDrop {
	display: none;
	position: absolute;
	width: 25em;
	height: 12.5em;
	left: 0px;
	top: 62px;
	background-color: rgb(10, 10, 150);
	z-index: 2;
}

.topBar #menuDrop hr {
	position: absolute;
	width: 90%;
	left: 5%;
}

#popupMouseEater {
	position : fixed;
	left : 0px;
	top : 0px;
	width : 100%;
	height : 100%;
	/*background-color : rgba(200,0,0,0.5);*/
	display:none;
	z-index: 1;
}
