.checkbox-grid li {
    display: block;
    float: left;
    width: 25%;
	margin-bottom : 20px;
}

.searchBox {
	margin-bottom : 20px;
}

input {
	margin-bottom : 20px;	
}

.grids {
	position: relative;
	width: 75%;
	height: 200px;
	padding-left: 5%;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border-width: 1px;
	border-style: solid;
}

.fields {
	position : relative;
	width: 75%;
	padding-left: 5%;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

#rightSideFill
{
	position: absolute;
	background-color: rgb(10,10,150);
	height: 100%;
	width: 65px;
	right: 0px;
}

#readerDirLink
{
	position: absolute;
	top: 0.5em;
	left: 1em;
	font-size: 2em;
}

#readerTagLink
{
	position: absolute;
	top: 0.5em;
	left: 7em;
	font-size: 2em;
}

#readerSearchLink
{
	position: absolute;
	top: 2.5em;
	left: 1em;
	font-size: 2em;
}
